*{
    /* background-color: rgb(28, 24, 24); */
    padding: 0;
    margin: 0;
} 
h1{
    margin-right: 100px;
    color: brown;
    text-align: center;
    font-family: "Geneva";
    font-style: italic;
    font-size: 70px;
}
h3{
    height: 50px;
    width: 140px; 
    border-radius: 50px;
    background-color: rgb(220, 215, 215);
    color: black; 
}

div.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
div.choice{
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}
.header{
    position: sticky;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(213, 212, 212);
    text-align: center;
    margin-right: 50px;
    font-size: 30px;
    height: 50px;
    width: 1250px;
    background-color: rgb(33, 32, 30);
}
.pic{
    height: 600px;
    width:800px;
    background-image: url(images/biriyani.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para{
    background-color: black;
    font-style: oblique;
    color: cornsilk;
    float: right;
    margin-top: -550px;
    height: 500px;
    width:450px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    word-spacing: 40px;
}
.footer{
    font-size: 40px;
    padding: 20px;
    height: 150px;
    background-color:rgb(120, 12, 12);
}
#terms{
    text-align: center;
    background-color: rgb(29, 20, 20);
    color: rgb(174, 149, 149);
    height: 60px;
    font-size: 25px;
    word-spacing: 60px;
}

#button{
    height: 75px;
    width: 150px; 
    border-radius: 100px; 
    text-align: center; 
    font-size: 30px; 
    border: 2px solid white;
    background-color:rgb(215, 90, 27);
    animation: myscale;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-play-state: running;
    animation-timing-function: ease-out;

}
h3:hover{
    
    background-color: rgb(255, 170, 127);
}
#button:hover{
    background-color: rgb(10, 9, 9);
    color: aliceblue;
}

@keyframes myscale{
    50%{transform: scale(2,1);}
}
a:hover{
    transform: scale(0.7,0.7);
}


.container {
    width:40%;
    margin: auto;
    padding: 20px;
    margin-left: 35%;
}
.text {
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    color: #b41818;
    white-space: pre-wrap;/* Keeps the line breaks */
}

.about{
    background-color: rgb(27, 27, 25);
    /* color: rgb(143, 143, 139); */
    color: cornsilk;
    height: 100%;
    width: 100%;
   
}

pre{
    font-size: 20px;
    height: 100%;
    width: 700px;
}
span{
    color: rgb(185, 21, 24);
}

.ppp{
    background-color: black;
}

.veg-menu{
    height:435px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu{
    padding: 20px;
    background-color: rgb(107, 103, 103);
    height:100% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.non-veg-menu{
    height:435px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gap{
    height: 115px;
    width: 100%;
}

.men{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 19px;
    line-height:25px;
    border-radius: 30px;
    margin-top: 20px;
    height: 150px;
    width: 350px;
    transition: transform .2s;
}

.men:hover{
    transform: scale(1.2);
}

.choice{
    margin-left: 35%;
    display: flex;
    width: 400px;
    height: 60px;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

